.container-b{
    /* border: 1px solid black; */

}
.container-b h2 {
    /* text-align: center; */
    color:   #0c1330;
    padding: 1rem;
    margin: 4rem;
    

}
.resource-list {
    list-style: none;
    margin: 4rem;


    /* 1300px going up */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.resource-list li{
    text-align: center;
}
.resource-list > li > img {
    /* width: 60%;
    max-width: 100px; */
    height: 160px;
}

.resource-list a{
    color:  #f23a;
    font-size: small;
}

.container-c{
    margin-top: 5rem;
}
.container-c h1{
    color:   #0c1330;
    margin: 4rem;
}

.container-d{
    margin-top: 5rem;
}

.container-d > ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 4rem;
}

.container-d h1{
    margin: 4rem;

 }

/* Media query for screens smaller than 768px (typical phone size) */

@media only screen and (max-width: 767px) {
    .container-b h2 {
        margin: 2rem;
    }

    .resource-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 2rem;
    }

    .resource-list > li > img {
        height: 100px;
    }

    .container-c h1,
    .container-d h1 {
        margin: 2rem;
    }

    .container-d > ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 2rem;
    }
}

